* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ff: "Comfortaa";

  --fw-n: 400;
  --fw-m: 600;
  --fw-b: 900;

  --fs-2: 5rem;
  --fs-3: 2rem;
  --fs-p: 1em;

  --primary-color: #f8f8f8;
  --accent-color: #5d5179;

  --fs-cl: #eff2f4;

  --spacer: 1rem;
  --spacer-md: calc(var(--spacer) * 2);
  --spacer-lg: calc(var(--spacer) * 3);
}

body {
  background-color: var(--primary-color);
  font-family: var(--ff);
}

.poster {
  height: 25vh;
  background-image: url("../img/poster.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.download--buttons {
  display: flex;
  justify-content: center;
  margin: var(--spacer-md) auto;
}

.download__button {
  background-color: var(--accent-color);
  padding: 15px 75px;
  border: none;
  border-radius: 45px;
  font-size: 1rem;
  transition: 0.3s linear;
  cursor: pointer;
  font-weight: var(--fw-b);
  color: #eff2f4;
}

.download__button:hover {
  transform: scale(1.05);
  background-color: #4d4362;
}

.download__button:active {
  transform: scale(0.97);
  background-color: #4d4362;
}

.download__button__pc {
  display: none;
}

/* info */
.game--info--container {
  height: 50vh;
  background-image: url("../img/border.png");
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game__info {
  position: absolute;
  text-align: center;
  font-size: calc(var(--fs-p) + 0.5rem);
  max-width: 25ch;
}

/* Baner */
.banner--container {
  height: 30vh;
  margin: var(--spacer-md) auto;
}

.baner {
  background-color: #4d4362;
  height: 90%;
}

.banner__caption {
  text-align: center;
  margin: var(--spacer);
}

/* pictures */
.image {
  height: 30vh;
  background-color: aqua;
  margin: var(--spacer);
}

/* devs */
.developers--container {
  margin: var(--spacer-lg) auto;
}

.developer__title {
  margin: var(--spacer-md);
}

/* cards */
.card--container {
  width: 100px;
  height: 150px;
  background-color: #5d5179;
}

.developer__card--container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 7.5em;
}

.developer__card--container--column1 {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.developer__card--container--column2 {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 10%;
  gap: 10px;
}

.developer__card--container--column3 {
  display: flex;
  flex-direction: column;
  top: 20%;
  gap: 10px;
}

/* footer */
.footer {
  height: 50px;
  background-color: var(--accent-color);
  margin-top: calc(var(--spacer-lg) * 2);
  display: flex;
  align-items: center;
  position: relative;
}

.footer__github__link {
  position: absolute;
  left: 20px;
  text-decoration: none;
  color: white;
  font-size: calc(var(--fs-3) - 0.6rem);
  transition: 0.3s linear;
}

.footer__github__link:hover {
  transform: scale(1.05);
  color: rgb(229, 229, 229);
}

.footer__github__link:active {
  transform: scale(0.97);
}

.footer__unity {
  height: 40px;
  width: 120px;
  background: url("../img/unity_icn.png");
  position: absolute;
  right: 20px;
}
