* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ff: "Arial";

  --fw-n: 300;
  --fw-m: 600;
  --fw-b: 900;

  --fs-2: 5rem;
  --fs-3: 2rem;
  --fs-p: 1em;

  --primary-color: #1f272d;
  --secondary-color: #080a0b;
  --accent-color: #607661;

  --fs-cl: #eff2f4;

  --spacer: 1rem;
  --spacer-md: calc(var(--spacer) * 2);
  --spacer-lg: calc(var(--spacer) * 3);
}

body {
  font-family: var(--ff);
  background: linear-gradient(var(--primary-color), var(--secondary-color));
}

/* poster styling */
.poster {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.poster__download__button {
  width: 250px;
  height: 40px;
  background-color: var(--accent-color);
  border: none;
  border-radius: 10px;
  font-weight: var(--fw-b);
  letter-spacing: 3px;
  --fs-3: 1.5em;
  font-size: var(--fs-3);
  transition: 0.3s linear;
  cursor: pointer;
}

.poster__download__button:hover {
  --accent-color: #495549;
  background-color: var(--accent-color);
  letter-spacing: 5px;
  transform: scale(1.05);
}

.poster__download__button:active {
  transform: scale(0.97);
}

.down--download--button {
  text-align: center;
}

/* textbox styling */
.textbox,
.character--container {
  margin: var(--spacer-md) 20px;
  text-align: center;
  font-size: var(--fs-p);
  color: var(--fs-cl);
}
.textbox__title,
.characters__title {
  font-size: var(--fs-3);
  color: var(--fs-cl);
}

.textbox__title__image__container,
.character--title--number {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: var(--spacer) auto;
}

.textbox__number,
.character__number {
  width: 45px;
  height: 45px;
  background-color: #33375a;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: var(--fw-b);
  font-size: 1.25rem;
  color: #6f6f6f;
}

/* character */
.character--title--number {
  margin: auto 20px;
}

.characters__drawing {
  height: 10.5em;
  margin: auto 10px;
}

.character__drawing__description__name {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: var(--spacer-lg);
}

.character__name {
  margin: var(--spacer) auto;
}

/* abilities */
.ability--box {
  margin: var(--spacer-md) 5px;
  background-color: #dfe5e9;
  display: flex;
  justify-content: left;
  align-items: center;
  text-align: left;
  gap: 20px;
  border: 2px solid black;
  border-radius: 28px;
  color: #080a0b;
}

.ability__type {
  margin-bottom: var(--spacer);
}

.ability__picture {
  /* border: 2px solid yellow; */
  width: 64px;
  height: 64px;
  margin-left: 15px;
}

.ability__decoration__right,
.ability__decoration__left {
  /* border: 2px solid red; */
  position: absolute;
  height: 100%;
  width: 64px;
}

.ability__decoration__left {
  left: -64px;
}

.ability__decoration__right {
  right: -64px;
}

.ability__description__type {
  margin: calc(var(--spacer) - 5px) auto;
}

/* Gameplay */
.gameplay {
  text-align: center;
}

.gameplay__video {
  width: 90%;
  margin: auto 20px;
}

/* about us */
.card {
  width: 250px;
  height: 300px;
  background-color: #add8e6;
  margin: var(--spacer-lg) 20px;
  border-bottom-right-radius: 45px;
  border-top-left-radius: 45px;
  border: 2px solid black;
}

.card__image {
  background-color: #495549;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.card--name--image {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: var(--spacer);
}

.card__info {
  margin: var(--spacer-md);
}

.card--container {
  display: flex;
  overflow-x: visible;
  align-items: center;
  position: relative;
}

body {
  overflow-x: hidden;
}

.scroll__container {
  display: flex;
  position: relative;
  transition: linear 0.3s;
  left: 0;
}

.card__button__right,
.card__button__left {
  background-image: url("../img/aboutUsAssets/right_arrow.png");
  width: 64px;
  height: 64px;
  position: absolute;
  right: 0;
  background-repeat: no-repeat;
  background-size: 64px;
  background-position: center;
  transition: 0.2s linear;
  cursor: pointer;
}

.card__button__left {
  left: 0;
  background-image: url("../img/aboutUsAssets/left_arrow.png");
}

.card__button__left:hover,
.card__button__right:hover {
  transform: scale(1.05);
}

.card__button__left:active,
.card__button__right:active {
  transform: scale(0.97);
}

/* footer */
.footer {
  background-color: rgb(155, 145, 145);
  position: relative;
  width: 100%;
  bottom: 0;
  margin-top: var(--spacer-lg);
  height: 77px;
  display: flex;
  align-items: center;
}

.footer__link {
  text-decoration: none;
  color: rgb(236, 236, 236);
  font-size: 1.5rem;
  margin: auto var(--spacer-md);
}

.footer__link:hover {
  color: rgb(204, 204, 204);
}

.footer__link:active {
  transform: scale(0.97);
}

.card--container::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 10px;
  z-index: 1;
  background-color: #D9D9D9;
  top: 20px;
}

.card--container::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 10px;
  z-index: 1;
  background-color: #D9D9D9;
  bottom: 20px;
}

.card--container{
  position: relative;
}


@media only screen and (min-width: 40em) {
  .textbox--container{
    display:  flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
  }

  .textbox{
    width: 70ch;
  }

  .character--title--number{
    display: flex;
    justify-content: center;
    margin: var(--spacer-lg) auto;
  }
  .characters__ability__container{
  display: grid;
  grid-template-columns: 1fr 1fr;

  }
  .ability--box{
    width: 30em;
  }

  .character--container{
    display: flex;
    margin: var(--spacer-lg);
   gap: 20px;
  }

  .character__name__discription{
    width: 40ch;
  }

  .character--container{
    justify-content: center;
  }

  .gameplay{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}